<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2023-12-09T20:58:41Z</date>
	<key>WorkspacePath</key>
	<string>/Users/macbookpro/Documents/VS_CODE/ecommerce_app/macos/Runner.xcworkspace</string>
</dict>
</plist>
